<mat-toolbar>
  <mat-toolbar-row>
    <span><button mat-button>Home</button></span>
    <span><button mat-button>Browse Kitchens</button></span>
    <span><button mat-button>{{UserButtonTitle}}</button></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>


<input type="text" ng-model='searchBox'>
<h2>Kitchens from your search:</h2>
<li ng-repeat="kitchen in kitchens | filter:searchBox">
  {{kitchen.name + ' ' + kitchen.type + ' ' + kichen.panel}}
</li>


  <a href="http://www.wikipedia.org"><img width="500" alt="Angular Logo" src="http://www.shenzhenparty.com/files/imagecache/event_listing/flyers/img_5100fu_ben_.jpg"></a>
</div>



<!DOCTYPE html>