{{title}}
<mat-toolbar>
    <mat-toolbar-row>
      <span><button mat-button><mat-icon>menu</mat-icon></button></span>
      <span><button mat-button routerLink='/home'>Home</button></span>
      <span><button mat-button routerLink='users'>User Account</button></span>
      <span><button mat-button routerLink='/login'>{{UserButtonTitle}}</button></span>
    </mat-toolbar-row>
  </mat-toolbar>
<div>
  <ng-form>
      <input matInput type="text" placeholder=""><span matIcon cancel></span>
      <button matButton>Find Me</button>
  </ng-form>
</div>

<div>
 <mat-card class="container">  <!-- *ngFor="let kitchen of kitchen_group;" -->
    <mat-card-header>
      <mat-card-title>{{kitchen_group.name}}</mat-card-title>
      <mat-card-subtitle>{{kitchen_group.type}}</mat-card-subtitle>
      <img src="{{kitchen_group.img}}" mat-card-sm-image>
    </mat-card-header>
    <mat-card-content>
      {{kitchen_group.desc}}
    </mat-card-content>
  </mat-card>
</div>